<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="fileFolder" value="c:\Users\MCS"/>
    <add key="fileNamePrefix" value="tag-"/>
    <add key="fileName" value="yyyy-MM-dd"/>
    <add key="fileNameExt" value="csv"/>
    <add key="copyFolder" value="\\mytfs01\public\EOLT_DataSource\Honda_bulkhead"/>
    <add key="copyNamePrefix" value="RejectDetails-tag-"/>
    <add key="copyFileExt" value="csv"/>
    <add key="visitInterval" value="500"/>
    <add key="copyInterval" value="31000"/>
    <add key="logFile" value="c:\temp\log"/>
    <add key="DBConnect" value="Server=.\SQLExpress;Database=MCS;User Id=mcs;Password="/>
    <add key="ThisIP" value="192.168.1.10"/>
  </appSettings>
</configuration>